.advicegen{
    margin: auto;
}
.head{
    color: var(--neon-green, #53FFAA);
    text-align: center;
    font-family: Manrope;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.457px;
    padding-top: 40px;
}
.advice{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--light-cyan, #CEE3E9);
    text-align: center;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    padding-top: 30px;
}
.mobile{
    display: none;
}
.desktop {
    display: flex;
    justify-content: center;
    margin: 34px auto;
}
.dice {
    position: absolute;
    left: 238px;
    top: 300px;
}

.dice:hover {
 cursor: pointer;
 background-image: url('../../images/active.svg');
 background-repeat:repeat;
 background-position: center;
 padding: 38px;
 left: 200px;
 top: 260px;
  
 }


@media only screen and (max-width:430px) {
    .advice {
        font-size: 24px;
        letter-spacing: -0.257px;
        padding-top: 10px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: center;
        margin: 34px auto;
    }
    .dice {
        position: absolute;
        left: 139px;
        top: 283px;
    }
    .dice:hover {
        left: 99px;
        top: 244px;
         
        }
   
}

@media only screen and (max-width:330px) {
    .dice{
        left: 120px;
    }
    .dice:hover{
        left: 80px;
    }
    .mobile{
        margin: 16px auto;
    }
}